@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* 1. TUTAJ DEFINIUJEMY ZMIENNE MOTYWU */
@theme {
  /* Domyślne zmienne Next.js (warto zostawić) */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* --- TWOJE KOLORY MASYW --- */
  --color-masyw-dark: #0f0f0f;
  --color-masyw-pink: #ffe4e6;
  --color-masyw-gray: #888888;

  /* Kolor testowy (zielony) */
  --color-test-neon: #00ff00;

  /* Font */
  --font-masyw: var(--font-inter);
}

/* 2. USTAWIENIA PODSTAWOWE (CSS ZMIENNE) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* ZMIANA: Używamy zmiennej z fontem, który obsługuje cienkie wagi */
  font-family: var(--font-masyw), sans-serif;
}
/* 3. TWOJE WŁASNE KLASY */
@layer components {
  .link-masyw-mobile {
    @apply text-2xl hover:underline underline-offset-4   transition-all cursor-pointer;
  }
  .link-masyw-desktop {
    @apply hover:underline transition underline-offset-4;
  }
  .sliding-text-mobile {
    @apply text-white text-5xl tracking-tighter;
  }
  .sliding-text-desktop {
    @apply text-white text-7xl tracking-tighter;
  }
  .product-masyw {
    @apply text-gray-500 hover:text-gray-800;
  }
  /* .border-test {
    @apply border-2 border-red-300;
  } */
}

@keyframes scrolling-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scrolling-text 50s linear infinite;
}
